body {
  background: rgb(17, 166, 228);
  background: linear-gradient(
    0deg,
    rgba(17, 166, 228, 1) 0%,
    rgba(73, 184, 231, 1) 50%,
    rgba(151, 216, 244, 1) 100%
  );
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
